@import '../../shared/styles/colors.scss';
@import '../../shared/styles/typography';

/** Px size to rem. */
$size-34px: calculateRem(34px);
$size-48px: calculateRem(48px);

.header {
  color: white;

  &-organisation {
    padding: $size-34px $size-54px 0;
  }

  &-border {
    margin: calculateRem(15px) $size-54px 0;
    width: calculateRem(22px);
    height: calculateRem(2px);
    background-color: white;
  }

  &-logo {
    margin: calculateRem(18px) $size-54px 0;
    width: $size-48px;
    height: $size-48px;
  }
  
  &-title {
    margin: calculateRem(88px) $size-54px 0;
    padding-bottom: $size-34px;
  }

  &-issuer {
    background-color: $essif-dark-bleu;
  }

  &-verifier {
    background-color: $essif-turquoise;
  }
}
