@import "../../shared/styles/typography.scss";

.receive-credential {
  margin: calculateRem(75px) $size-54px 0;
  text-align: justify;

  &-title {
    margin : calculateRem(29px) 0 calculateRem(25px);
  }
  &-tile {
    margin-top : calculateRem(34px);
    padding: 16px;
    background-color: white; 
    font-size: $font-size-xs;
    line-height: $line-height-lg;

  &-header {
    font-family: $font-family-condensed;
    font-weight: 600;
  }

  &-form {
    padding-right: 0;
    margin-bottom: 1.5rem;
  }

  &-footer {
    margin-top: $size-64px;
    height: $size-54px;

    &-logo {
      margin-top: 0.5rem;
      height: $size-54px;
      width: $size-64px;
    }
  }
  }
}

.bx--btn--ghost{
  color: #171717;
  background-color: transparent;
  border-color: transparent;
  /* border-style: solid; */
  border-width: 0px;
  &:hover {
    background-color: transparent;
  }
}