@import "../../shared/styles/typography.scss";
@import "../../shared/styles/colors.scss";

.verify-ehic {

  &-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: $size-64px;
  }
}

