@import "../../shared/styles/typography.scss";
@import "../../shared/styles/colors.scss";

.custom-tile {
  font-size: $font-size-xs;
  line-height: $line-height-lg;
  border-color: #f4F4F4;
    border-style: solid; 
    border-width: 1px;

  &-header {
    font-family: $font-family-condensed;
    font-weight: 600;
  }

  &-footer {
    margin-top: $size-64px;
    height: $size-54px;

    &-logo {
      margin-top: 0.5rem;
      height: $size-54px;
      width: $size-64px;
    }
  }

  &:hover {
    color: #171717;
    background-color: white;
    border-color: $essif-blue;
    border-style: solid; 
    border-width: calculateRem(1px);
  }
}

.connect-wallet {
    margin: calculateRem(75px) $size-54px 0;
    text-align: justify;
  
    &-title {
      margin : calculateRem(29px) 0 calculateRem(25px);
    }
    &-tile {
      margin-top : calculateRem(34px);
    }
  }