@import "../../shared/styles/typography.scss";
@import "../../shared/styles/colors.scss";

.custom-tile {
  &:hover {
    color: #171717;
    background-color: white;
    border-color: $essif-blue;
    border-style: solid; 
    border-width: calculateRem(1px);
  }
}

.verify-crendential {
  margin: calculateRem(32px) $size-54px 0;
  text-align: justify;

  &-title {
    margin : calculateRem(16px) 0 calculateRem(16px);
  }
  &-tile {
    margin-top : calculateRem(16px);
  }
}