@import '../../shared/styles/typography.scss';

.progress-indicator {
  margin-left: $size-54px;
  height: calculateRem(40px);
  //overflow: visible;
  &-step {
    width: calculateRem(248px);
  }
}

.bx--progress {
    display: block ;
}
