.events_container {
    overflow: scroll;
    position: absolute;
    bottom: 0px;
    right: 0;
    background: gray;
    padding: 1em;
    height: 50%;
    width: 30%;
    text-align: left;
    font-size: 0.5em;
}