@import "../../shared/styles/typography.scss";

.custom-tile {
  font-size: $font-size-xs;
  line-height: $line-height-lg;

  &-header {
    font-family: $font-family-condensed;
    font-weight: 600;
  }

  &-footer {
    margin-top: $size-64px;
    height: $size-54px;

    &-logo {
      margin-top: 0.5rem;
      height: $size-54px;
      width: $size-64px;
    }
  }
}